body {
  margin: 0;
  padding: 0;
}

#player-gui-container {
  position: fixed;width: 100%;bottom:0;
}

#log-container {
  font-family: monospace;
  background: black;
  color: green;
  overflow: auto;
  max-height: 400px;
}